<script>
$(function(){
  var mes = '<%= h(flash[:mes]) if flash[:mes] %>';
  var mes_sub = '<%= h(flash[:mes_sub]) if flash[:mes_sub] %>';
  var t = function(){
    var date = new Date();
    $(".time").text(date.getFullYear()  + "-" + (date.getMonth() + 1) + "-" + date.getDate() + " " + date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds());
  };

  t();
  setInterval(t, 1000);
  if (mes != '') {
    alert((mes_sub) ? mes + '\n' + mes_sub : mes);
  }
})
</script>

<h1>ICカード勤怠管理</h1>

<h2>ただいま <span class="time"></span></h2>

<h3>SuicaやPasmo（Felica準拠ICカード）をICカードリーダー（PaSoRi）の上に置いて、<br />
どれかのボタンを押して下さい。</h3>

<table>
  <tr>
    <td><%= button_to "出勤", {:action => "scan", :kind => 1} %></td>
    <td><%= button_to "退勤", {:action => "scan", :kind => 2} %></td>
  </tr>
  <tr>
    <td><%= button_to "外出", {:action => "scan", :kind => 11} %></td>
    <td><%= button_to "帰社", {:action => "scan", :kind => 12} %></td>
  </tr>
<!--
  <tr>
   <td><%= button_to "直行", {:action => "scan", :kind => 21} %></td>
   <td><%= button_to "直帰", {:action => "scan", :kind => 22} %></td>
  </tr>
-->
  <tr>
    <td colspan="2"><%= button_to "直近の勤怠状況", {:action => "list"}, {:style => "font-size: 4em; width: 100%;"} %></td>
  </tr>
</table>

<br />
