<p id="notice"><%= notice %></p>

<p>
  <b>Idm:</b>
  <%= @member.idm %>
</p>

<p>
  <b>Name:</b>
  <%= @member.name %>
</p>

<p>
  <b>Created at:</b>
  <%= @member.created_at %>
</p>


<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
